.delivery-section{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.card-flex{
    display: flex;
    flex-wrap: wrap;
}