.delivery-section{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.card-flex{
    display: flex;
    flex-wrap: wrap;
}
.food-delivery-heading{
    font-family: 'Gilroy', sans-serif;
    color: rgba(2, 6, 12, 0.75);
    margin-bottom: 0px;
}
.shimmer-card{
    box-shadow: none;
}
.shimmer-thumbnail{
    border-radius: 20px;
}