@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items:center;
    height: 300px;
    justify-content: space-around;
    margin: 0 auto;
    
}

.hero-section{
    background-image: linear-gradient(white, #CFC3F5);
    border-radius: 0px 0px 20px 20px;
    /* background-color: black; */
    margin-bottom: 50px;
    

}
.heading{
    max-width: 400px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: rgba(2, 6, 12, 0.75);

}
.curve{
    max-width: 120px;
}
.hero-img-section{
    margin-bottom: -50px;
}