.resturantpage-cont {
    max-width: 800px;
    margin: 0px auto;
    padding: 30px;
    /* position: relative; */

    font-family: 'Gilroy', sans-serif;
}

.resturant-wrapper {
    position: relative;
}

.resturants-detail {
    box-shadow: 0px 0px 5px rgb(233, 233, 233);
    background-color: #ffffff;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 30px;
}

.resturant-rating-section {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Gilroy', sans-serif;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 700;
    padding-top: 5px;
}

.padding-resturant {
    padding: 30px;

}

.resturant-item-span {
    padding-top: 5px;
    display: flex;
    gap: 4px;
    color: #F15700;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2px;
    /* margin: 4px; */
}


.resturant-page-heading {
    font-family: 'Gilroy', sans-serif;
    color: rgba(2, 6, 12, 0.75);
    margin-top: 40px;
}

.distance-icon-section {
    display: flex;
    flex-direction: column;
}

.distance-icon {
    font-size: 40px;
    margin-bottom: -10px;
}

.distance-section {
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    color: rgba(2, 6, 12, 0.75);
}

.Collapsible__trigger {
    font-family: 'Gilroy', sans-serif;
    color: rgba(2, 6, 12, 0.75);
    font-size: 22px;
    font-weight: 600;
}

.cycle-icon {
    font-size: 25px;
    color: rgba(2, 6, 12, 0.75);
}

.resturant-delivery-section {
    padding: 15px 20px 15px 20px;
    display: flex;

    align-items: center;
    gap: 5px;
}

.travel-distance {
    font-weight: 800;
    color: rgba(2, 6, 12, 0.75);
}

.delivery-charge {
    color: rgba(2, 6, 12, 0.75);
    font-weight: 600;
    font-size: medium;
}

.collaps-title {
    display: flex;
    font-size: 20px;
    font-weight: 800;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-top: 10px;
}

.Collapsible__contentOuter {
    transition: all 10000ms linear;

}

.Collapsible {
    padding: 10px;
}

.modal {
    /* pointer-events: initial; */
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #f0f0f09e;
}

.modal-visible {
    display: none;
}

.modal-card{
    
}